<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Labyrinth Generator</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Labyrinth Generator !!!</h1> 
        </div>  
      </div>  
    </div>
    <div class="container">
      <div class="row">
        {% block body %} 
        {% endblock %}
        <div class="col-md-12"> 
          <form method="POST" action="/create">
            <div class="form-group">
              <label for="hauteur">Hauteur du labyrinthe</label>
              <input type="number" class="form-control" id="hauteur" name="hauteur" placeholder="2" min="2" value="2">
              <label for="largeur">Largeur du labyrinthe</label>
              <input type="number" class="form-control" id="largeur" name="largeur" placeholder="2" min="2" value="2">
              <label for="couleur">Couleur des murs</label>
              <input type="color" class="form-control" id="couleur" name="couleur" value="#000000">
            </div>
            <button type="submit" class="btn btn-primary">Générer</button>
          </form>
        </div> 
      </div>
      <div class="row">
        {% block parametres %} 
        {% endblock %}
      </div>
      <div class="row">
        <div class="col-md-12">
        {% block labyrinthe %} 
        {% endblock %}
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>