{% extends 'Layouts/master.twig' %} 

{% block body %} 
	{% if  app.session.getFlashBag.get('errors') is defined %}
		<ul>
			{% for message in app.session.getFlashBag.get('errors') %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %} 
{% block parametres %}
	{% if data is not null %}
		<p></p>
		<p>{{"hauteur : " ~ data.hauteur ~ " / "}}</p>
		<p>{{"largeur : " ~ data.largeur ~ " / " }}</p>
		<p>{{"couleur : " ~ data.couleur }}</p> 
	{% endif %}
{% endblock %}   
{% block labyrinthe %}
	{% if labyrinthe is not null %}
		{% for case in labyrinthe %}
			<p>O</p>
		{% endfor %}
	{% endif %}
{% endblock %}                 