{% extends 'Layouts/master.twig' %} 

{% block body %} 
	{% if  app.session.getFlashBag.get('errors') is defined %}
		<ul>
			{% for message in app.session.getFlashBag.get('errors') %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}              